.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 653px;
}

.u-section-1 .u-shape-1 {
  width: 376px;
  height: 652px;
  margin: 1px auto 0 -48px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1188px;
  margin: -595px auto 57px -48px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 538px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-1 .u-shape-1 {
    width: 411px;
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 883px;
    margin-right: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 426px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 426px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-shape-1 {
    width: 219px;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 675px;
    margin-top: 60px;
    margin-right: 210px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-1 .u-shape-1 {
    height: 416px;
    margin-top: 60px;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 443px;
    margin: -356px auto -197px 349px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 489px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-1 .u-shape-1 {
    height: 283px;
    margin-top: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 280px;
    margin-top: -595px;
    margin-bottom: 57px;
    margin-left: 430px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 308px;
  }
}


a.listed_font {
  font-size: x-large;
  font-style: normal;
  color: gray;
}