{% extends "./base.html" %}

{% block body_content %}

    {% csrf_token %}
    {% for fil in directory.file_set.all %}

        {% if fil.inBin == False %}

            <div class="floatLeft">

                <a>
                    <figure>

                        <img src="../../static/file-empty.png" width="107" height="107">

                        <figcaption>
                            <input type="checkbox" id={{ fil.fileID }}>
                            {{ fil.fileName }}
                        </figcaption>

                    </figure>

                </a>

            </div>

{#            <script>#}
{##}
{#                function Coords(event) {#}
{##}
{#                    let x = event.clientX#}
{#                    let y = event.clientY#}
{##}
{#                    document.write(x)#}
{#                }#}
{##}
{#            </script>#}

        {% endif %}

    {% endfor %}

{% endblock %}


{% block list_content %}

    <a href="#" class="listed_font">Add new file</a><br>
    <a href="#" class="listed_font">Rename file</a><br>
    <a href="#" class="listed_font">Download file</a><br>
    <a href="#" class="listed_font">Share file</a><br>
    <a href="#" class="listed_font">Make favourite</a><br>
    <a href="#" class="listed_font">Delete file</a><br>

{% endblock %}