{% extends "./base.html" %}

{% block body_content %}

    {% csrf_token %}
    {% for dir in user.privateDisc.directory_set.all %}

        {% for fil in dir.file_set.all %}

              {% if fil.isFavourite == True %}

                  <div class="floatLeft">

                        <a href="{{ fil.id }}">

                            <figure>

                                    <img src="../../static/file-empty.png" width="107" height="107">
                                    <figcaption>
                                        <input type="checkbox" id={{ fil.fileID }}>
                                        {{ fil.fileName }}
                                    </figcaption>

                            </figure>

                        </a>

                    </div>

              {% endif %}

        {% endfor %}

    {% endfor %}

{% endblock %}

{% block list_content %}

    <a href="#" class="listed_font">Rename file</a><br>
    <a href="#" class="listed_font">Download file</a><br>
    <a href="#" class="listed_font">Share file</a><br>
    <a href="#" class="listed_font">Unmake favourite</a><br>
    <a href="#" class="listed_font">Delete file</a><br>

{% endblock %}