{% extends "./base.html" %}

{% block body_content %}

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


    <br><br><br><br><br><br><br><br><br><br><br><br>

    <div>

        <p><font size="+1">Type in data to create an account</font></p><br><br>

    </div>


    <form class="center">

        <input type="text" id="id_email" name="in_mail" placeholder="E-mail address"><br><br>
        <input type="text" id="id_username" name="in_user" placeholder="Username"><br><br>
        <input type="text" id="id_password" name="in_pass" placeholder="Password"><br>

    </form>



    <form class="captcha_center">

        <input type="checkbox" id="id_checkbox" name="in_check">

        <i>I agree to the terms and conditions and the privacy policy.</i><br><br>

        <form action="?" method="POST">

            <div class="g-recaptcha" data-sitekey="6LceOLoaAAAAAC5B1c3kZ7QKhNz6vscN4Fp3_xv7"></div>

        </form>

    </form>

    <form class="button_center">

        <input type="submit" value="Register" class="button">

    </form>



{% endblock %}